useDynLib(stochvol, .registration = TRUE)

import(methods)
import(stats)
import(graphics)
import(utils)
importFrom(Rcpp, evalCpp)
import(coda) 

export(
 "svsim",
 "svsample",
 "para",
 "latent",
 "latent0",
 "priors",
 "thinning",
 "runtime",
 "updatesummary",
 "paradensplot",
 "paratraceplot",
 "volplot",
 "predict.svdraws",
 "plot.svdraws",
 "svsample2",
 ".svsample", # replaced by svsample2, to be faded out
 "logret",
 "arpredict"
)

S3method("print", "svsim")
S3method("summary", "svsim")
S3method("print", "summary.svsim")
S3method("plot", "svsim")

S3method("print", "svdraws")
S3method("summary", "svdraws")
S3method("print", "summary.svdraws")
S3method("plot", "svdraws")
S3method("predict", "svdraws")
S3method("residuals", "svdraws")

S3method("plot", "svresid")
